# FastAPI и сервер Uvicorn
fastapi~=0.115.11
uvicorn

# Асинхронная работа с БД и Redis
redis==5.2.1
sqlalchemy~=2.0.38
asyncpg==0.30.0


# JWT-токены и безопасность
pyjwt
requests
python-multipart
passlib[bcrypt]
bcrypt==3.2.0

qrcode

# Дополнительные библиотеки
python-dotenv~=1.0.1
pydantic~=2.10.6
pydantic[email]
pydantic_core
pydantic_settings
starlette
python-jose
pytest~=8.3.5
httpx~=0.28.1
pytest
